

img{
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Start Navbar stuff*/
    .nbth{
        background-color: white;
        color: #007BFF;
    }

    .navbar-brand strong{
        color: #007BFF;
    }

    .nav-tabs {
        margin-bottom: 0;
    }
    .navbar{
        background-color: white;
        color: #007BFF;
    }
    .nav-link{
      color: #007BFF !important;
    }
/*End Navbar stuff*/

/* Jumbotron */
    .jumbotron{
        background-color:white;
        color:#007BFF;
        width: 100%;
        border: 2px solid black;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .jumbotronparagraph{
        font-size: 1.3em;
        color: #007BFF;
    }
    .jumbotron hgroup h1 strong{
        text-align: center;
        font-size: 60px; 
        color: #007BFF;
    }
    .ep{
        text-align: center;
        font-size: 30px; 
        color: #007BFF;
        
    }
    .btntext{
        font-size: 30px; 
    }
    .jumbotron hgroup{
        text-align: center;
    }
/* End Jumbotron */


.list{
    color: white;
    font-size: 1.3em;
}


/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.page-header {
    text-align: center;
}

.whitehyperlink{
    text-decoration: underline;
    text-decoration-color: #007BFF;
    color: #007BFF;
}
/* Footer stuff */
    .btn-success{
        background-color: #007BFF;
        color: white;
        border: 0px;
        text-align: center;
        border-radius: 15px;
    }
    .btn-success:hover{
        background-color: #007BFF;
        color: rgb(201, 201, 201);
    }
    .socials{
        color: white;
    }
    .page-footer {
        padding-bottom: 10px;
        padding-top: 5px;
        text-align: center; 
        background-color:white;
    }

    .page-footer cite{
        color: #007BFF;
    }
/* End Footer stuff */

.paragraph{
    font-size: 1.3em;
    color: white;
}

.subheading{
    color: white;
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}
.card{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px;
    
    
}
body {
    background-color: #007BFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.app {
    flex: 1 0 auto;
}
.card h4{
color: white;
font-weight: 900;
-webkit-text-stroke-color: black; 
-webkit-text-stroke-width: 2px;
}
.card h5{
    color: #007BFF;
        
    }
    .carousel slide{
        color: #007BFF;
    }
    /* Tippy */
.tippy-tooltip.active-theme{
    background-color: #28A745;
    color: white;
}
.tippy-tooltip.footer-theme{
    background-color: #007BFF;
    color: white;
}
.tippy-tooltip.idle-theme{
    background-color: #FFC107;
    color: #21251A;
    
}
.tippy-tooltip.deprecated-theme{
    background-color: #DC3545;
    color: white;
}
.tippy-tooltip.primary-theme{
    background-color: #007BFF;
    color: white;
}
/* end tippy*/

/* Text Formatting */
hgroup h2 strong{
    color: white;
}
    a{
        color: rgb(0, 255, 13);
    }
    a:hover{
        color: rgb(0, 177, 9);
    }
    .subsubhead{
        font-weight: bolder;
        font-size: 1.4em;
        text-align: center;
        color: white;
    }
    code{
        color: rgb(0, 190, 0);
    }
/* End Text Formatting */

/* Buttons and detailings */
.badge-primary{
    color: #007BFF;
    background-color: white;
}
    .btn-primary{
        color: #007BFF;
        background-color: white;
    }
    .btn-primary:hover{
        color: #007BFF;
        background-color: rgb(224, 224, 224);
    }
    .card-border{
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

/*End Buttons */



