
/*Start Navbar stuff*/
    .nbth{
        background-color: white;
        color: #007BFF;
    }

    .navbar-brand strong{
        color: #007BFF;
    }

    .navbar{
        background-color: white;
        color: #007BFF;
    }
    .nav-link{
      color: #007BFF !important;
    }
/*End Navbar stuff*/

/* Jumbotron */
    .jumbotron{
        background-color:white;
        color:#007BFF;
    }
    .jumbotronparagraph{
        color: #007BFF;
    }
    .jumboh4{
        color: #007BFF;
    }
    .jumbaurl{
        color: #007BFF; 

    }
    .jumbaurl:hover{
        color: rgb(0, 93, 192); 

    }
    .jumbotron hgroup h1 strong{
        color: #007BFF;
    }
    .ep{
        color: #007BFF;
        
    }

/* End Jumbotron */


.list{
    color: white;
}


/* Adds borders for tabs */




.whitehyperlink{
    text-decoration-color: #007BFF;
    color: #007BFF;
}
/* Footer stuff */
    .btn-success{
        background-color: #007BFF;
        color: white;
        text-align: center;
    }
    .btn-success:hover{
        background-color: #007BFF;
        color: rgb(201, 201, 201);
    }
    .socials{
        color: white;
    }
    .page-footer {

        background-color:white;
    }

    .page-footer cite{
        color: #007BFF;
    }
/* End Footer stuff */



.subheading{
    color: white;

}



.card h5{
    color: #007BFF;
        
    }
    .carousel slide{
        color: #007BFF;
    }
    /* Tippy */
.tippy-tooltip.active-theme{
    background-color: #28A745;
    color: white;
}
.tippy-tooltip.footer-theme{
    background-color: #007BFF;
    color: white;
}
.tippy-tooltip.idle-theme{
    background-color: #FFC107;
    color: #21251A;
    
}
.tippy-tooltip.deprecated-theme{
    background-color: #DC3545;
    color: white;
}
.tippy-tooltip.primary-theme{
    background-color: #007BFF;
    color: white;
}
/* end tippy*/

/* Text Formatting */
hgroup h2 strong{
    color: white;
}
    a{
        color: rgb(0, 255, 13);
    }
    a:hover{
        color: rgb(0, 177, 9);
    }
    .subsubhead{
        color: white;
    }
    code{
        color: rgb(0, 190, 0);
    }
    .paragraph{
        color: white;
        
    }

/* End Text Formatting */

/* Buttons and detailings */
.badge-primary{
    color: #007BFF;
    background-color: white;
}
    .btn-primary{
        color: #007BFF;
        background-color: white;
    }
    .btn-primary:hover{
        color: #007BFF;
        background-color: rgb(224, 224, 224);
    }
    .card-border{
        border: 1px solid black;

    
    }

/*End Buttons */



