
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(22, 108, 212);
    color: white;
}
.app {
    flex: 1 0 auto;
}
/* Text Formatting */
label{
 font-size: 1.5em !important;
}
.articleh1{
    text-align: center;
}
.display-2{
    text-align: center;
    font-weight: 500;
    font-size: 4em;
}
.nav-tab{
    font-size: 20px;
}
.display-4{
    text-align: center;
}
.list{
    font-size: 1.3em;
}
.page-header {
    text-align: center;
}

.page-footer{
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center; 
}
.copyright{
    font-size: 0.7em;
}
.footer-text,.footer-text a{
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(255,255,255,.65);
}
.footer-text a:hover{
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}
.whitehyperlink{
    text-decoration: underline;
}
.whitehyperlink:hover{
    text-decoration: underline;
}
.paragraph{
    font-size: 1.4em;
    line-height: 33px;
}
.pintro{
    text-align: center; 
    font: 1.7em; 
    line-height: 40px;
}

.subsubhead{
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}
.text-alert{
    font-size: 4em;
    text-align: center;
}
/* END TEXT FORMATTING */
/*Animated*/
@keyframes fade-in{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.fade-in{
    animation-name: fade-in;
    animation-duration: 3s;
}
/* JumboTron */
.jumbotron{
    width: 100%;
    border: 2px solid black;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.jumboh4{
    font-size: 1.8em;
    font-style: normal;
    
}
.jumbaurl{
    text-decoration: underline;
}
.jumbaurl:hover{
    text-decoration: underline;
}
.jumbotronparagraph{
    font-size: 1.3em;
}
.jumbotron hgroup h1 strong{
    text-align: center;
    font-size: 60px; 
}
.ep{
    text-align: center;
    font-size: 30px; 
}
.btntext{
    font-size: 30px; 
}
.jumbotron hgroup{
    text-align: center;
}

.container-fluid .content-box{
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2em;
    border-radius: 6px;
    width: 100%;
    margin: 7px 0px;
}
.content-box .heading, .content-box h1{
    color: black;
    font-weight: 900;
    font-size: 3.5em;
    font-family: 'Bangers';
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
}
.content-box .subheading,.content-box h2{
    color: black;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}
.modal-title{
    color: black;
    font-weight: 900;
    font-size: 2em;
    font-family: 'Bangers';
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}
.container-fluid{
    max-width: 1200px;
}
.content-box .paragraph, .content-paragraph,.content-box label,.content-box p,.form-group label{
    color: rgb(78, 78, 78);
    font-size: 1.4em;
    line-height: 33px;
}
.content-box .paragraph strong, .content-paragraph,.content-box label strong,.content-box p strong{
    font-weight: 600;
}
.form-control.form-control-alternative{
    color: black;
    font-size: 1.3em;
}
.form-control.form-control-alternative:focus{
    color: black;
}
.form-control.form-control-alternative::placeholder{
  color: rgba(95, 95, 95, 0.699);
  font-style: italic;
}
/*End jubotron */
/*Fomrs*/
.invalid-feedback{
    font-size: 1.1em;
    font-weight: bold;
}
.valid-feedback{
    font-size: 1.1em;
    font-weight: bold;
}
/*Content */
.card{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px; 
}
.card h4{
    font-weight: 900;
}
.card-border{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    text-align:center;
    max-width: 1000px;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > .col {
    display: flex;
    flex-direction: column;
  }
  .card{
      height: 100%;
  }
.card-border .paragraph{
    font-size: 1.1em;
}
.card-border .card-body .heading{
    font-size: 1.6em;
    font-family: 'Bangers';
    letter-spacing: 3px;
    color: black;
}
/*End content*/

/* Showcases */
.showcase-text{
    margin: auto;
    text-align: left;
    
  }
  .showcase{
    background-color: #007BFF;
  }
  .showcase-img{
    max-width: 100%;
    max-height: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .showcase-img-margin{
    margin: auto;
  }
  @keyframes greyscale {
    from {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    to { box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  }
  .showcase-img:hover{
    animation-name: greyscale;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  
  }
  @keyframes grey-to-col {
    from {filter: grayscale(100%);}
    to {filter: grayscale(0%);}
  }
  .grey-to-color{
    filter: grayscale(100%);
    }
  .grey-to-color:hover{
    animation-name: grey-to-col;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  /*End Showcases*/