.nbth{
    background-color: #E4541C;
    color: #E4541C;
}
.list{
    color: white;
    font-size: 1.3em;
}
hgroup h2{
    color: white;
}

.socials{
    color: white;
}

.jumbotron{
    background-color:#E4541C;
    color:white;
    width: 100%;
    border: 2px solid black;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
.page-header {
    text-align: center;
}
.btn-success {
    text-align: center;
    border-radius: 15px;
}
.page-footer {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center; 
    background-color:#E4541C;
}

.page-footer cite{
    color: white;
}
.btn-primary{
    background-color: #E4541C;
    border: 0px;

}
.btn-primary:hover{
    background-color: rgb(189, 71, 25);
    border: 0px;

}
.whitehyperlink{
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    color: whitesmoke;
}
.btn-success{
    background-color: white;
    border: 0px;  
    color: #E4541C;
}
.btn-success:hover{
    background-color: rgb(201, 201, 201);
    color: #E4541C;
}
.btn-success:active{
    background-color: rgb(201, 201, 201);
    color: #E4541C;
}
.paragraph{
    font-size: 1.3em;
    color: white;
}
.subheading{
    color: #E4541C;
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}
.card{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #444343;
    
}
.card-text{
    color: white;
}
body {
    display: flex;
    background-color: #303030;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.app {
    flex: 1 0 auto;
}
.card h4{
color: #E4541C;
font-weight: 900;
-webkit-text-stroke-color: black; 
-webkit-text-stroke-width: 2px;
}
.card h5{
    color: white;
        
    }
    .carousel slide{
        color: #E4541C;
    }
.tippy-tooltip.active-theme{
    background-color: #28A745;
    color: white;
}
.tippy-tooltip.footer-theme{
    background-color: white;
    color: #E4541C;
}
.tippy-tooltip.idle-theme{
    background-color: #FFC107;
    color: #21251A;
    
}
.tippy-tooltip.deprecated-theme{
    background-color: #DC3545;
    color: white;
}
.tippy-tooltip.primary-theme{
    background-color: #E4541C;
    color: white;
}
a{
    color: #E4541C;
}
a:hover{
    color: rgb(182, 52, 0);
}
code{
    color: rgb(0, 190, 0);
}

.card-border{
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.subsubhead{
    color: white;
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}
