img{
    margin-bottom: 5px;
    margin-top: 5px;
}


.nbth{
    background-color: #007BFF;
    color: #007BFF;
}
.socials{
    color: white;
}
/* Jumbotron stuff */
    .jumbotron{
        background-color:#007BFF;
        color:white;
        width: 100%;
        border: 2px solid black;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .jumboh4{
        color: white;
        font-size: 1.7em;
        font-style: italic;
    }
    .jumbaurl{
        color: white; 
        text-decoration: underline;
    }
    .jumbaurl:hover{
        color: rgb(228, 228, 228); 
        text-decoration: underline;
    }
    .jumbotronparagraph{
        font-size: 1.3em;
        color: white;
    }
    .jumbotron hgroup h1 strong{
        text-align: center;
        font-size: 60px; 
        color: white;
    }
    .ep{
        text-align: center;
        font-size: 30px; 
        color: white;
        
    }
    .btntext{
        font-size: 30px; 
    }
    .jumbotron hgroup{
        text-align: center;
    }
/* end jumbotron stuff */
.list{
    color: black;
    font-size: 1.3em;
}
hgroup h2{
    color: black;
}
.navbar-brand{
    color: white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.page-header {
    text-align: center;
}
.btn-success {
    text-align: center;
    border-radius: 15px;
}
.page-footer {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center; 
    background-color:#007BFF;
}

.page-footer cite{
    color: white;
}
.navbar{
    background-color: #007BFF;
    color: #007BFF;
}
.whitehyperlink{
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
}
.btn-success{
    background-color: white;
    color: #007BFF;
    border: 0px;
}
.btn-success:hover{
    background-color: rgb(201, 201, 201);
    color: #007BFF;
}
.paragraph{
    font-size: 1.3em;
}
blockquote{
    background: #007BFF;
}
.subheading{
    color: #007BFF;
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}
.card{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px;
    
    
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.app {
    flex: 1 0 auto;
}
.card h4{
color: white;
font-weight: 900;
-webkit-text-stroke-color: black; 
-webkit-text-stroke-width: 2px;
}
.card h5{
    color: #007BFF;
        
    }
    .carousel slide{
        color: #007BFF;
    }
.tippy-tooltip.active-theme{
    background-color: #28A745;
    color: white;
}
.tippy-tooltip.footer-theme{
    background-color: white;
    color: #007BFF;
}
.tippy-tooltip.idle-theme{
    background-color: #FFC107;
    color: #21251A;
    
}
.tippy-tooltip.deprecated-theme{
    background-color: #DC3545;
    color: white;
}
.tippy-tooltip.primary-theme{
    background-color: #007BFF;
    color: white;
}
a{
    color: #007BFF;
}

code{
    color: rgb(0, 190, 0);
}

.card-border{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.subsubhead{
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}
