$navbar-dropdown-arrow: #62A1EC;
$navbar-burger-color: white;
$navbar-item-hover-color: white;
$navbar-item-active-color: white;
$navbar-item-hover-background-color:rgba(0,0,0,0);
$navbar-item-active-background-color:rgba(0,0,0,0);
$navbar-item-color: #BBBBBB;
$navbar-background-color: rgba(0,0,0,0);


$body-background-color: #0E1013;
$footer-background-color: $body-background-color;

$light-invert:black;

$primary: #62A1EC;
$info: #62A1EC;

$link: $primary;
