{
  "useTabs": true,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "semi": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}