.banner-success{
    background-color: #44C849;
}
.banner-danger{
    background-color: #F44336;
}
.banner-warning{
    background-color: #FF9800;
}
.banner-primary{
    background-color: #2196F3;
}
.banner-primary-gradient{
    background: linear-gradient(180deg, #2196F3 -23.86%, #00D1FF 100%);
}
.banner a{
    color: white !important;
    text-decoration: underline;
}
.banner{
    color: white;
    text-align: center;
}
.colored-section-1{
    background: $secondary-color;
    position: relative;
    padding-bottom: 45px;
    padding-top:45px;
}
.bg-secondary{
    background-color:$secondary-color;
}

.section-header{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
}
.same-h-row {
    display: flex;
    flex-wrap: wrap;
}
.same-h-row > .col {
    display: flex;
    flex-direction: column;
}
.same-h-row > .col > .card-panel{
    height: 100%;
}
.roboto{
    font-family: Roboto, sans-serif;
}
.input-field.on-dark label {
    color: white !important;
}
/* label focus color */
.input-field.on-dark input[type=text]:focus + label.active{
    color: white !important;
}
.input-field.on-dark input[type=text]:focus ,.input-field.on-dark  textarea:focus{
    border-bottom: 1px solid #62A1EC !important;
    box-shadow: 0 1px 0 0 #62A1EC !important;
    color: white;
}
.input-field.on-dark .character-counter {
    color: white !important;
}
@keyframes buttonhover {
    from {background-color:  #406CE8;}
    to {background-color:  #6089FE;}
}
.button-primary{
    background-color: #406CE8;
    color: white;
}
.button-primary:hover{
    animation-name: buttonhover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.input-field.on-dark textarea.materialize-textarea {
    color: white;
}
.input-field.on-dark input[type=text] {
    color: white;
}
@include for-phone-only {
    .captcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
.index-panel{
    color: black;
    background-color: #F9F9F9;
}
