
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #F8F8F8;
}
#pre-content {
    flex-shrink: 1;
    flex-grow: 0;
}
#content {
    margin-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 993px) {
	.container {
		width: 70%;
	}
}
.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}
.app{
    display: flex;
	flex-direction: column;
	padding-left: 250px;
    height: 100%;
}
@media (max-width: 992px) {
	.app {
		padding-left: 0;
	}
}
#left-nav-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
}
.text-center{
    text-align: center;
}
.sidenav .user-view .background {
    background-color: rgb(22, 108, 212);
}
.user-view {
    padding: 24px 24px 24px !important;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.background > img {
    min-height: 100%;
}
#avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
#name {
    color: #fff;
}

.side-nav {
    width: 250px !important;
}
.ts{
    border-bottom: 1px dotted;
}
.btn{
    margin-bottom: 5px;
}
.grey.darken-4-5{
    background-color: #302F2F !important;
}
.d-none{
    display: none;
}
.paragraph, .card .card-content p{
    font-size: 18px;
}
.green{
    color: white;
}

[type="checkbox"]+span:not(.lever) {
    font-size: 1.2rem;
}
nav {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    -webkit-box-shadow: none;


}
nav .brand-logo #navtxt{
    display: inline-block;
    margin-left:10px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    width: 85px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 95%;
    color: #62A1EC;
    display: inline-block;
}
@media only screen and (max-width: 992px){
    nav .brand-logo #navtxt{
        width: auto;
        vertical-align: middle;
        font-size: 30px;
        margin: 0px;
        line-height: 64px;
    }

}
@media only screen and (max-width: 595px){
    nav .brand-logo #navtxt{
        line-height: 45px;
    }

}
@media only screen and (max-width: 443px){
    nav .brand-logo #navtxt{
       width: 209px;
    }
}
nav .brand-logo #img{
    width: 51px;
    height: 51px;
    background-color: rgba(126, 0, 0, 0);
    border-radius: 12px;
    display: inline-block;

}
nav ul a {
    font-size: 1.1rem;
    color:white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 600;


}

h1, h2, h3, h4, h5, h6{
    font-family: Roboto;
    margin-top: 0;
}
@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left:0;
    }
}
.panel-img{
    height: 350px;
}
.card-panel-header{
    font-size: 1.9em;
}
.card-panel{
    border-radius: 10px;
}
.header-thing{
    margin: 60px 0px;
}
.landing-h1{
    height: 66px;
    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    text-transform: uppercase;
    color: #62A1EC;
    position: relative;

    text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
}
.landing-sub{
    height: 17px;
    position: relative;
    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 95%;
    color: #DADCE0;
    text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
}
