body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #F8F8F8;
}
#pre-content {
    flex-shrink: 1;
    flex-grow: 0;
}
#content {
    margin-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}
.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}
.app{
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    height: 100%;
}
@media (max-width: 992px) {
    .app {
        padding-left: 0;
    }
}
#left-nav-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
}
.text-center{
    text-align: center;
}
.sidenav .user-view .background {
    background-color: rgb(22, 108, 212);
}
.user-view {
    padding: 24px 24px 24px !important;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.background > img {
    min-height: 100%;
}
#avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
#name {
    color: #fff;
}

.side-nav {
    width: 250px !important;
}
.ts{
    border-bottom: 1px dotted;
}
.btn{
    margin-bottom: 5px;
}
.grey.darken-4-5{
    background-color: #302F2F !important;
}
.d-none{
    display: none;
}
.paragraph, .card .card-content p{
    font-size: 18px;
}
.green{
    color: white;
}

[type="checkbox"]+span:not(.lever) {
    font-size: 1.2rem;
}
nav {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    -webkit-box-shadow: none;


}
nav .brand-logo #navtxt{
    display: inline-block;
    margin-left:10px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    width: 85px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 95%;
    color: #62A1EC;
}
nav .brand-logo #navtxt-mobile{
    color: #62A1EC;
    font-size: 24px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    float: right;
    white-space: nowrap;
}
nav .brand-logo #img{
    width: 51px;
    height: 51px;
    background-color: rgba(126, 0, 0, 0);
    border-radius: 360px;
    display: inline-block;

}
nav ul a {
    font-size: 1.1rem;
    color:white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6{
    font-family: Exo, sans-serif;
}
.card-panel.index-panel > h1{
    margin-top: 0;
}
.panel-img{
    height: 350px;
}
.card-panel-header{
    font-size: 1.9em;
}

.header-thing{
    margin: 60px 0px;
}
#landing-header{
    padding-top: 100px;
    padding-bottom: 0px;
}
.landing-h1{
    height: auto;
    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    text-transform: uppercase;
    color: #62A1EC;
    position: relative;
    display: block;
    // text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
}
.landing-h1.error{
    font-size: 100px;
    line-height: normal;
    margin-bottom: 0;
}
.landing-sub{
    height: 17px;
    position: relative;
    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 95%;
    display: block;
    color: #DADCE0;
    // text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
}
.landing-sub.error{
    font-size: 26px;
    margin-top: 0;
}
.card-panel.index-panel h1{
    font-family: Exo, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: black;
}
.card-panel.index-panel p{
    font-family: Exo, sans-serif;
    font-style: normal;
    color: #303030;
    font-weight: normal;
    font-size: 20px;
}
@media only screen and (max-width: 992px){
    nav .brand-logo #navtxt{
        width: auto;
        vertical-align: middle;
        font-size: 30px;
        margin: 0px;
        line-height: 64px;
    }

}
@include for-phone-only{
    nav .brand-logo #navtxt {
        line-height: 45px;
    }
    #landing-header{
        padding-top: 150px;
    }
    .icon-link{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 443px){
    nav .brand-logo #navtxt{
        width: 209px;
    }
}
@include for-tablet-and-down{
    .cent-on-med-down{
        text-align: center;
    }
    .landing-h1{
        text-align: center;
    }
    .landing-sub{
        text-align: center;
    }
}
.chip-profile{
    background-color: rgba(0,0,0,0);
    padding-right: 0;
    margin-right: 0;
    font-weight: normal;
    font-size: 1rem
}
.pointer{
    cursor: pointer;
}
.darken-4-5{
    background-color: #302F2F;
}
.click-to-reveal{
    -moz-user-select:none;
    user-select: none;
}
.capfirst:first-letter{
    text-transform: capitalize;
}
.breadcrumb{
    color: black;
    font-size:2em;
}
.breadcrumb:before {
    color: black !important;
}
@keyframes icon-link-hovers {
    from {color: white;}
    to {color:  #62A1EC;}
}
.icon-link{
    color: white;
    letter-spacing: 15px;
    line-height: 20px;
}
.icon-link:hover{
    animation-name: icon-link-hovers;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.errorlink{
    color: white;
}
.errorlink:hover{
    animation-name: icon-link-hovers;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.errorlinks{
    font-size: 26px;
    font-weight: bold;
}
.errorlinks p{
    margin: 0;
}
.loading-thing{
    z-index: 10;
    background-color: black;
    opacity: 75%;
    position: absolute;
}
