:root {
 --dark-bg: #212121;
 --dark-priamy: #302F2F;
}
/* label color */
.input-field label {
    color: white !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label.active {
    color: white !important;
  }
    .input-field input[type=text]{
        color: white !important;
    }
  /* label underline focus color */
  .input-field input[type=text]:focus  {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
    color: white;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
  }
    .input-field input[type=text].valid + label{
       color: #4CAF50 !important;
    }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 rgb(255, 0, 0);
  }
[type="checkbox"]+span:not(.lever) {
    color: white;
}
[type="checkbox"]:disabled+span:not(.lever) {
    color: #9e9e9e;
}
.input-field input[type=text].invalid + label{
    color: rgb(255, 0, 0) !important;
}
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: white !important;
  }
  .sidenav{
    background-color: var(--dark-priamy) !important;
  }
  .sidenav>li>a{
    color: white;
  }
  .sidenav>li>.subheader{
    color: white;
  }
  .sidenav>li>a>i{
    color: white !important;
  }
  .card{
    color: white;
    background-color: var(--dark-priamy);
  }
  body{
    background-color: var(--dark-bg);
    color: white;
  }
  body>#content{
    color: white;
  }

