.title.page-title{
  font-size: 60px;
  text-transform: uppercase;
  font-family: Exo;
  color: white;
}
@include for-tablet-and-down{
  .title.page-title{
    font-size: 40px;
  }
}

.subtitle.page-subtitle{
  font-size: 25px;
  color: white;
  font-family: Exo;
}
