.white-link{
    color: #fff;
}
@keyframes white-link-hover {
    from {color: white}
    to {color: $link;}
}
.white-link:hover{
    animation-name: white-link-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
