$loading-themes: ("dark": rgba(0, 0, 0, 0.7), "light": rgba(255, 255, 255, 0.7));
@each $name, $color in $loading-themes {
    .loading-cover-#{$name}{
        content: "";
        vertical-align: middle;
        margin: auto;
        height: 100%;
        width: 100%;
        background-color: $color;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 500;
        border-radius: inherit
    }
}
