.toastify.toast-is-danger{
    background-color: $danger !important;
    color: white;
}
.toastify.toast-is-success{
    background-color: $success !important;
    color: white;
}
.toastify{
    background: none !important;
    box-shadow: none !important;
}
