.toastify.toast-is-danger{
    background-color: $danger !important;
    color: white;
}
.toastify.toast-is-success{
    background-color: $success !important;
    color: white;
}
.toastify{
    background: none !important;
    box-shadow: none !important;
}

.Vue-Toastification__toast--error {
    background-color: $danger;
}
.Vue-Toastification__toast--success {
    background-color: $success;
}
.Vue-Toastification__toast--info {
    background-color: $primary;
}
