$tooltip-themes: "danger" white $danger,
"success" white $success,
"primary" white $primary,
"warning" white $warning,
"grey" white $grey;


@each $name, $color, $bgcolor in $tooltip-themes {
    .tippy-box[data-theme~=#{$name}] {
        background-color: $bgcolor;
        color: $color;

        &[data-placement^='top'] > .tippy-arrow::before {
            border-top-color: $bgcolor;
        }

        &[data-placement^='bottom'] > .tippy-arrow::before {
            border-bottom-color: $bgcolor;
        }

        &[data-placement^='left'] > .tippy-arrow::before {
            border-left-color: $bgcolor;
        }

        &[data-placement^='right'] > .tippy-arrow::before {
            border-right-color: $bgcolor;
        }
    }
}
