@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: JetBrainsMono;
	src: url('/fonts/jetbrains/JetBrainsMono-Regular.woff2');
}
body {
	font-family: JetBrainsMono, sans-serif;
	background-color: #1c2128;
}
